[submodule "seed"]
	path = seed
	url = git@github.com:fungos/seed.git
[submodule "seedtools"]
	path = seedtools
	url = git@github.com:fungos/seedtools.git
[submodule "seeddemos"]
	path = seeddemos
	url = git@github.com:fungos/seeddemos.git
[submodule "seedbaker"]
	path = seedbaker
	url = git://github.com/fungos/seedbaker.git
[submodule "seededitor"]
	path = seededitor
	url = git://github.com/fungos/seededitor.git