index=0;speed=0.0
index=1;speed=0.001
index=2;speed=0.003
index=3;speed=0.005

index=0;name=Background;url=http://www.seedframework.org/gbackground.png

index=1;name=Mountain 0;url=http://www.seedframework.org/gscen_01.png
index=1;name=Mountain 1;url=http://www.seedframework.org/gscen_02.png
index=1;name=Mountain 2;url=http://www.seedframework.org/gscen_03.png

index=2;name=Tree 0;url=http://www.seedframework.org/gposte.png
index=2;name=space 0;space
index=2;name=Tree 1;url=http://www.seedframework.org/gipeamarelo.png
index=2;name=space 1;space
index=2;name=Tree 2;url=http://www.seedframework.org/garaucaria.png
index=2;name=space 2;space
index=2;name=Tree 2;url=http://www.seedframework.org/giperoxo.png
index=2;name=space 2;space

index=3;name=jj;url=http://www.seedframework.org/gjj.png
index=3;name=space 0;space
index=3;name=kuat;url=http://www.seedframework.org/gkuat.png
index=3;name=space 1;space
index=3;name=magazineluiza;url=http://www.seedframework.org/gmagazineluiza.png
index=3;name=space 2;space
index=3;name=nextel;url=http://www.seedframework.org/gnextel.png
index=3;name=space 3;space
index=3;name=petrobras;url=http://www.seedframework.org/gpetrobras.png
index=3;name=space 4;space
index=3;name=portoseguro;url=http://www.seedframework.org/gportoseguro.png
index=3;name=space 5;space
index=3;name=royal;url=http://www.seedframework.org/groyal.png
index=3;name=space 5;space
