index=0;speed=0.0
index=1;speed=0.001
index=2;speed=0.003
index=3;speed=0.005

index=0;name=Background;url=http://www.seedframework.org/background.png

index=1;name=Mountain 0;url=http://www.seedframework.org/scen_01.png
index=1;name=Mountain 1;url=http://www.seedframework.org/scen_02.png
index=1;name=Mountain 2;url=http://www.seedframework.org/scen_03.png

index=2;name=Tree 0;url=http://www.seedframework.org/poste.png
index=2;name=space 0;space
index=2;name=Tree 1;url=http://www.seedframework.org/ipeamarelo.png
index=2;name=space 1;space
index=2;name=Tree 2;url=http://www.seedframework.org/araucaria.png
index=2;name=space 2;space
index=2;name=Tree 2;url=http://www.seedframework.org/iperoxo.png
index=2;name=space 2;space

index=3;name=jj;url=http://www.seedframework.org/jj.png
index=3;name=space 0;space
index=3;name=kuat;url=http://www.seedframework.org/kuat.png
index=3;name=space 1;space
index=3;name=magazineluiza;url=http://www.seedframework.org/magazineluiza.png
index=3;name=space 2;space
index=3;name=nextel;url=http://www.seedframework.org/nextel.png
index=3;name=space 3;space
index=3;name=petrobras;url=http://www.seedframework.org/petrobras.png
index=3;name=space 4;space
index=3;name=portoseguro;url=http://www.seedframework.org/portoseguro.png
index=3;name=space 5;space
index=3;name=royal;url=http://www.seedframework.org/royal.png
index=3;name=space 5;space
