		<hr class="hide" />
		<div id="footer">
			<div class="inside">
				<div class="utom">
					<p class="attributes"><a href="/feed/">RSS</a></p>
				</div>
			</div>
		</div>
		<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
		<script type="text/javascript">try { var pageTracker = _gat._getTracker("UA-74814-2"); pageTracker._trackPageview(); } catch(err) {}</script>
		<script language="javascript" type='text/javascript' src="/includes/footer.js"></script>
	</div>
</body>
</html>
