			<li><a href="/"{% if page.section == 'home' %}class="current"{% endif %}{% if page.section == '' %}class="current"{% endif %}>home</a></li>
			<li><a href="/blog/"{% if page.section == 'news' %}class="current"{% endif %}>news</a></li>
			<li><a href="/roadmap/"{% if page.section == 'roadmap' %}class="current"{% endif %}>roadmap</a></li>
			<li><a href="/features/"{% if page.section == 'features' %}class="current"{% endif %}>features</a></li>
			<li><a href="/docs/"{% if page.section == 'docs' %}class="current"{% endif %}>api</a></li>
			<li><a href="/about/"{% if page.section == 'about' %}class="current"{% endif %}>about</a></li>
			<li><a href="/contact/"{% if page.section == 'contact' %}class="current"{% endif %}>contact</a></li>