			<li><a href="http://fungos.github.com/sdk/"{% if page.section == 'home' %}class="current"{% endif %}{% if page.section == '' %}class="current"{% endif %}>home</a></li>
			<li><a href="http://fungos.github.com/sdk/blog/"{% if page.section == 'news' %}class="current"{% endif %}>news</a></li>
			<li><a href="http://fungos.github.com/sdk/team/"{% if page.section == 'roadmap' %}class="current"{% endif %}>roadmap</a></li>
			<li><a href="http://fungos.github.com/sdk/team/"{% if page.section == 'api' %}class="current"{% endif %}>api</a></li>
			<li><a href="http://fungos.github.com/sdk/about/"{% if page.section == 'about' %}class="current"{% endif %}>about</a></li>
			<li><a href="http://fungos.github.com/sdk/contact/"{% if page.section == 'contact' %}class="current"{% endif %}>contact</a></li>