<h1>Outlets</h1>
<ul>
  <li><a href="http://seedframework.org/wiki/">wiki</a></li>
  <li><a href="http://seedframework.org/blog/">blog</a></li>
  <li><a href="http://seedframework.org/wiki/planet/">planet</a></li>
  <li><a href="http://seedframework.org/git/">project source</a></li>
</ul>

<h1>Site Menu</h1>
<ul>
  <li><a href="http://seedframework.org/contact/">Contact</a></li>
  <li><a href="http://seedframework.org/team/">Team</a></li>
  <li><a href="http://seedframework.org/mission/">Mission</a></li>
  <li><a href="http://seedframework.org/services/">Services</a></li>
  <li><a href="http://seedframework.org/projects/">Projects</a></li>
</ul>
