---
layout: blog
section: blog
---

{% for post in site.categories.blog limit:6 %}

<div class="content-title">{{ post.title }}</div>
<div class="meta">  
  tags:
    {% for t in post.tags %}
    <a href='http://www.google.com/search?q={{ t | escape }}+site:seedframework.org'>{{ t }}</a>
    {% if forloop.last == false %}, {% endif %}
    {% endfor %}
</div>

{{ post.content }}

<div class="details"><p>
  &mdash; {{ post.byline }} on {{ post.date | date_to_long_string }} 
  &bull; <a href="http://www.seedframework.org{{ post.url }}">Permalink</a>
  &bull; <a href="http://www.seedframework.org{{ post.url }}#disqus_thread">Comments</a></p>
</div>

<div class="clear"></div>

{% endfor %}

